
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@900&display=swap');
@import url("./sidebar/sidebar.css");
@font-face{
  font-family:'techno overload brk';
  src:url(techno-overload-brk/techover.ttf);
  font-style:normal;
}


* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  /* background: #1f1f1e; */
  background-color:black;
  overflow: hidden;
}
canvas{
  display:black;
}
header{
  position:fixed;
  width:100%;
  top:0;
  background:black;
  /* z-index:2; */
}

/* <-----------------------------HEADER-------------------------------/> */

.top {
  color: #02e901;
  padding: 10px 20px 10px 20px;
  font-family: 'Big Shoulders Stencil Text', cursive;
  user-select:none;
  letter-spacing:1px;
}
.nav_element{
  text-decoration:none;
  color: #02e901;
  padding:0px 16px;
  font-size:20px;
  border-left:1px solid green;
  border-right:1px solid green;

}
#header_container {
  border-bottom: 2px solid opacity;
  box-shadow: 1px 3px 9px #02e901;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
}
#siteName {
  font-size: 25px;
}
#com_span {
  font-size: 15px;
}
.top{
  overflow: hidden;
  position: relative;
}
.underline {
  position: absolute;
  bottom: 0;
  left: 21px;
  height: 51px;
  opacity:0.3;
  width: 0px;
  z-index:-5;
  background-color:#02e901;
  transition: 0.3s;
}


@media only screen and (max-width:700px){

  .sidebarIconToggle{
      height:22px;
      width:22px;
      position:absolute;
      z-index:20;
      top:15px;
      right:20px;
      cursor:pointer;
      /* background: white; */
  }

  #openSideBarMenu:checked ~ aside{
       transform:translateX(0px);
  }

  .spinner{
      height:3px;
      background:#02e901;
      transition: all 0.3s;
  }
  .spinner.middle, .spinner.bottom{
      margin-top:3px;
  }
  .top a{
    display:none;
  }

  aside{
      height:100%;
      position:fixed;
      right:0;
      top:0;
      width:250px;
      margin-top:54px;
      background:black;
      transform:translateX(250px);
      transition:transform 250ms ease-in-out;
  }

  #openSideBarMenu:checked ~ aside{
     transform:translateX(0px);
}

ul{
    list-style:None;
}
.first_aside{
    /* color:#fff; */
    border-top:1px solid rgba(2, 233, 1,0.1);
}
aside ul li a{
  transition:all 0.3s ease-in-out;
}
aside ul li a:hover{
     background:rgba(2, 233, 1,0.3);
}

aside ul li a {
    display:block;
    text-decoration:None;
    color:#02e901;
    padding:20px;
    /* text-transform: uppercase; */
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-size:20px;
}

#openSideBarMenu:checked ~ .sidebarIconToggle > .spinner.middle{
  opacity:0;
}
#openSideBarMenu:checked ~ .sidebarIconToggle > .spinner.topp{
   transform: rotate(135deg);
   margin-top:8px;
}
#openSideBarMenu:checked ~ .sidebarIconToggle > .spinner.bottom{
   transform:rotate(-135deg);
   margin-top:-9px; 
}

}
